Flask
Flask-SQLAlchemy
Flask-JWT-Extended
Flask-RESTX
mysql-connector-python
python-dotenv
werkzeug
Flask-Mail
requests
apscheduler
flask-socketio
python-socketio
eventlet
torchvision
torch
Pillow
transformers
tensorflow 
opencv-python 
numpy
flask-os
flask-migrate

